<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Educatio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projetos</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/institucional" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Institucional
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/institucional">Quem Somos</a>
          <a class="dropdown-item" href="/institucional">Apoiadores</a>
          <a class="dropdown-item" href="/institucional">Relatório de atividades</a>
        </div>
      </li>
      <li class="nav-item">
        <% if !(teacher_signed_in? || donator_signed_in?) %>
        <a class="nav-link" href="/teachers/sign_in">Sou professor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/donators/sign_in">Quero doar</a>
        <% elsif teacher_signed_in? %>
        <%= link_to "Log out", destroy_teacher_session_path, method: :delete, class: 'nav-link' %>
        <% else %>
        <%= link_to "Log out", destroy_donator_session_path, method: :delete, class: 'nav-link' %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
