<%= render 'shared/navbar' %>

<div class="banner" style="background-image: url(<%=asset_path('blackboard.jpg')%>);">
  <div class="container">
    <h1>Garantir a qualidade do ensino público é um dever de todos</h1>
    <p>Envolva-se com as necessidades de escolas públicas ao seu redor</p>
    <div class="banner-btn">
    <a class="btn btn-flat mr-4" href="/projects/new">Sou Professor</a>
    <a class="btn btn-flat ml-4" href="#">Quero Ajudar</a>
    </div>
  </div>
</div>

<div class="como-funciona-container">
  <div class="como-funciona-texto">
    <h1>Como Atuamos</h1>
    <p>.......</p>
    <div class="como-funciona-btn">
      <a class="btn btn-flat mr-4" href="/projects/new">Sou Professor, quero criar projeto</a>
      <a class="btn btn-flat ml-4" href="#">Quero encontrar projetos para ajudar</a>
    </div>
  </div>
  <div class="como-funciona-foto">

  </div>
</div>

<%= render 'shared/footer' %>
