.filter-form {
  form{
  display: flex;
  // padding-bottom: 16px;
}
input {
  text-align:center;
}
}


#filter-input {
  margin-left: 24px;
  margin-right: 24px;
  width: 200px;

  .btn{
    // background-color: #21302F;
    // border: #21302F;
    width: 160px;
  }
}
