
.project-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FBFBFB;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // margin-top: 16px;
  margin-bottom: 16px;
}

.project-index {
  padding: 40px;
  align-items: flex-start;

}

.project-cards {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.project-img {
    height: 200px;
    // width: 100%;
    img {
      height: 100%;
      width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    }
}

.project-card {
  background-position: center;
  border-radius: 5px;
  border: 2px solid #E3E7E9;
  text-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 16px;
  // box-shadow: 5px #97969E;
  a {
        color: black;
    text-decoration: none;
  }
}

.card-title {
  // text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
  margin-left: 10px;
  a {
    color: black;
    text-decoration: none;
    // text-align: center;
  }
}

.project-items {
margin-top: 10px;
margin-left: 10px;
}

.project-filters {
    display: flex;
  align-items: center;
  justify-content: center;
}



